.maincontentbanner{
		h2{
			color:#129adb;
			text-align:left;
			padding-left:0;
		}
		.bannerpart{
			padding-left:0;
		}
		.sidebar{
			padding-right:0;
		}
} 
.maincontentbtm{
	margin:15px 0px;
	padding: 0;
	.col-sm-4{
		margin: 0;
		padding: 0;
	}
	.services{
		padding-left: 44px;
	}
	.services:first-child{
		padding-left:0;
	}
	.services:last-child{
		padding-right:0;
		text-align:right;    
		padding-left: 70px;
	}
}